head
  title= "theswishingwell"
  style.
    :root {
      --font-family: helvetica, sans-serif, serif;
      --color-background: steelblue;
      --color-body-text: ghostwhite;
    }
    
    html {
      margin: 0px;
      padding: 0px;
      box-sizing: border-box;
    }

    body {
      background: var(--color-background);
      color: var(--color-body-text);
      font-family: var(--font-family);
    }