html
  include ./includes/head
  body
    include ./includes/nav
    p= "All money donated will go to charity and paying the cost of maintaining the swishing well."
    p= "You are completely anonymous when making a wish, nothing is stored about you and nothing is shared with anyone."